@media only screen and (min-width:981px){
	.wrapper{
		width:75%;
	}
}

@media only screen and (min-width:641px) and (max-width:980px){
	#menu{
		padding-right:10px;
	}

	#play_text, #about_text, #involve_text{
		padding:1em;
	}

	.section_text_header{
		font-size:200%;
	}

	a.project_item{
		width:40%;
	}

	#copyright{
		float:none;
		clear:both;
		margin-right:0;
	}

	.staff_item_text_header{
		font-size:200%;
	}

	.staff_item_text{
		padding:1em;
	}

	#staff_header{
		padding:3.5em 0 1em 0;
	}
}

/* tablets portrait*/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
	#menu{
		padding-right:10px;
	}

	#play_text, #about_text, #involve_text{
		padding:1em;
	}

	.section_text_header{
		font-size:200%;
	}

	a.project_item{
		width:40%;
	}

	#copyright{
		float:none;
		clear:both;
		margin-right:0;
	}

	.staff_item_text_header{
		font-size:200%;
	}

	.staff_item_text{
		padding:1em;
	}

	#staff_header{
		padding:3.5em 0 1em 0;
	}
}

@media only screen and (max-width:640px){
	#carousel_container{
		display:none;
	}

	#hot_cause_action a{
		width:auto;
	}

	#message_container{
		float:left;
		margin-left:10px;
	}

	#menu{
		display:none;
	}

	#mobile_menu{
		display:block;
	}

	#footer div.wrapper{
		margin:auto;
		padding:0 10px;
	}

	#copyright{
		text-align:center;
		float:none;
		line-height:normal;
		margin-right:0;
	}

	#fot_soc{
		float:none;
		text-align:center;
	}

	#fot_soc a{
		float:none;
	}

	#fot_soc img{
		display:inline;/*block display affects container*/
	}

	#fot_links{
		float:none;
		border-top:5px solid #666;
		border-bottom:5px solid #666;
	}

	#fot_links a{
		display:block;
		float:none;
		text-align:center;
		margin-right:0;
	}

	.section_text_header{
		font-size:200%;
	}

	#play_thumb{
		float:none;
		width:auto;
	}

	#play_text, #about_text, #involve_text{
		padding:1em;
		overflow:hidden;
		text-align:center;
	}

	a.project_item{
		display:block;
		width:auto;
	}

	a.project_item p{
		padding-bottom:10px;
	}

	.staff_item_thumb{
		float:none;
		width:auto;
	}

	.staff_item_text{
		padding:1em;
		text-align:center;
	}

	.staff_item_text_header{
		font-size:200%;
	}

	#staff_header{
		padding:3.5em 0 1em 0;
	}
}
